
#form{
		padding: 5px;
		color: #333;
		float: left;
		width: 47%;
		background-color: #ddd;
		height: 140px;
		text-align: center;
		margin: 3px;
		vertical-align: center;
		font-size: 20px;
	}

#casherLeft{
     float: left;
     width: 50%;
}

#casherRight{
	width: 50%;
	float: right;
}

#item{
	background-color: #a12;
	color: #fff;
	width: 160px;
	font-size: 25px;
	box-shadow: 2px 2px 2px black;
}

#sectionRight{
	background-color: #eee;
	padding: 5px;
	width: 30%;
	color: #000;
}

#sectionRight a ,#sectionRight input{
	width: 100%;
}

#sectionRight h2{
	font-weight: bold;
	text-shadow: 2px 2px 2px #eee;
}

.full{width: 100%;}

#sectionLeft{
	width: 68%;
	float: left;
	color: #000;
}

.btn{
	width: 200px;
	font-size: 30px;
}

a{
	color: black;
}

html{
	/*background-color: #fff;*/
	/*background: url('../img/bg.jpg');*/
	background-size: 100%;
}
body{
	/*background-color: #ddd ; */
	color: #000;
	padding: 0px;
	margin-bottom: 50px;
}
button{
	background-color: #eee;
	padding: 7px;
	margin: 5px;
	border-radius: 10px;
	color: #000;
	font-weight: bold;
	border: 0px solid #678;
	font-size: 15px;
}

input[type=password]{
	padding: 10px;
	margin: 5px;
	text-align: center;
	font-weight: bold;
	border-radius: 10px;
	font-size: 15px;
}

input[type=text]{
	padding: 10px;
	margin: 5px;
	text-align: center;
	font-weight: bold;
	border-radius: 10px;
	font-size: 15px;
}
input[type=submit]{
	background-color: #112233;
	padding: 5px;
	margin: 5px;
	text-align: center;
	font-weight: bold;
	border-radius: 10px;
}
#alert_good{
	margin: 10px;
	border-radius: 10px;
	font-weight: bold;
	color: #fff;
	padding: 10px;
	background-color: green ; 
	text-align: center;
}
#alert_pad{
	margin: 10px;
	border-radius: 10px;
	font-weight: bold;
	color: #fff;
	padding: 10px;
	background-color: red ; 
	text-align: center;
}
table td{
	background-color: red;
}


/*The footer of the page styling */
#footer{
	color: #000;
	position: fixed;
	bottom : 0px; 
	padding: 10px;
	background-color: #a10;
	width: 110%;
	color: #fff;
	font-size: 22px;
}